.character-container {
    margin: 0 auto;
    height: 400px;
}

.character {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 10%;
}

.character:first-child {
    margin-top: 11.25%;
}

.character img {
    max-width: 100%;
    height: auto;
}

.button-container {
    clear:both;
    text-align: center;
    margin: 4% auto;
}

button {
    margin: 0 1%;
}

